
.ls-prompt-zone {
  .ls-modal__header{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .ls-modal__footer{
    padding: 20px;
  }
  .dlg-content{
    margin: 0 20px;
  }
  .ant-input-number {
    width: 250px;
    max-width: 250px;
  }
}
